.outer-body {
    position: relative;
    width: 400px;
    height: 825px;
    padding: 10px;
    background: rgb(128 129 137 / 38%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.inner-body {
    color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
}